/* Fee table */

.fee-header {
  text-align: center;
}

.fee-right{
  text-align: right;
}

.fee-white{
  background-color: #fff !important;
}

.page-id-903 table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.page-id-903 table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.page-id-903 table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.page-id-903 table th,
table td {
  padding: 0.625em;
  /* text-align: center; */
}

.page-id-903 table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .page-id-903 table {
    border: 0;
  }

  .page-id-903 table caption {
    font-size: 1.3em;
  }

  /* .page-id-903 table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  } */

  .page-id-903 table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  /* .page-id-903 table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  } */

  .page-id-903 table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .page-id-903 table td:last-child {
    border-bottom: 0;
  }
}

.page-id-903 body {
  line-height: 1.25;
}
