:root {
   --clr-primary-200: hsl(196, 97%, 45%);
   --clr-primary-400: hsl(218, 100%, 33%);

   --clr-accent-400: hsl(49, 99%, 49%);

   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-700: hsl(0, 0%, 40%);
   --clr-neutral-900: hsl(0, 0%, 0%);
}

$clr-primary-200: var(--clr-primary-200);
$clr-primary-400: var(--clr-primary-400);

$clr-accent-400: var(--clr-accent-400);

$clr-neutral-100: var(--clr-neutral-100);
$clr-neutral-700: var(--clr-neutral-700);
$clr-neutral-900: var(--clr-neutral-900);