<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="holiday-modal grid gap-400">
      <div class="text-center"><strong>Holidays that will be observed by this credit union are:</strong></div>
      <div class="grid gap-200 j-center md-grid-cols-2">
        <div class="grid gap-200 j-center">
          <div>New Year’s Day: January 2</div>
          <div>Birthday of Martin Luther King, Jr.: January 16</div>
          <div>Washington’s Birthday (aka Presidents Day): February 20</div>
          <div>Good Friday: April 7th</div>
          <div>Memorial Day: May 29</div>
          <div>Juneteenth National Independence Day: June 19</div>
          <div>Independence Day: July 4</div>
        </div>
        <div class="grid gap-200 md-j-center">
          <div>Labor Day: September 4</div>
          <div>Columbus Day: October 9</div>
          <div>Veterans Day: November 11</div>
          <div>Thanksgiving Day: November 23</div>
          <div>Christmas Day: December 25</div>
        </div>
      </div>

      <div class="text-center"><strong> *For holidays falling on Saturday, Federal Reserve Banks and Branches will be open the preceding Friday. </strong></div>
      <div class="text-center mb-600"><strong class=""> **For holidays falling on Sunday, Federal Reserve Banks and Branches will be closed the following Monday — June 20, 2022, December 26, 2022, and January 2, 2023. </strong></div>

      <div class="btn-wrapper">
        <a class="wow-modal-close-3" style="font-size: 24px; font-weight: bold; padding: 15px 25px; background: #facd01; color: #596672; border-radius: 4px; display: inline-flex" href="#wow-modal-close-3">Close</a>
      </div>
    </div>
  </body>
</html>
