<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/GBD_Theme/dist/main.css">
    <title>Document</title>
</head>

<body>
    <p style="text-align: center"><strong>Holidays that will be observed by this credit union are:</strong></p>
    <p>[w-row align="center"] [w-column width=6 align="center"]</p>
    <p>MLK Jr Day: January 17 <br />Good Friday: April 15 <br />Juneteenth: June 19**<br />Labor Day: September
        5<br />Thanksgiving Eve: November 23 (Close at 1pm)<br />Christmas Day: December 25**</p>
    <p>[/w-column] [w-column width=6 align="center"]</p>
    <p>President's Day: February 21 <br />Memorial Day: May 30<br />Independence Day: July 4<br />Columbus Day: October
        10<br />Veterans Day: November 11<br>Thanksgiving Day: November 24<br />New Year's Day: January 1, 2023**</p>
    <p>[/w-column] [/w-row]</p>
    <p align="center"><strong>*For holidays falling on Saturday, Federal Reserve Banks and Branches will be open the
            preceding Friday.</strong></p>
    <p align="center"><strong>**For holidays falling on Sunday, Federal Reserve Banks and Branches will be closed the
            following Monday — June 20, 2022, December 26, 2022, and January 2, 2023.</strong></p>
    <p> </p>
    <p style="text-align: center"><a class="wow-modal-close-3"
            style="font-size: 24px;font-weight: bold;padding: 15px 25px;background: #facd01;color: #596672;border-radius: 4px"
            href="#wow-modal-close-3">Close</a></p>
</body>

</html>